* {
    margin: 0;
}

#barra-de-navegacion {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}

#barra-de-navegacion>div {
    background-color: blueviolet;
    height: 50px;
    width: 70px;
    

}

.banner-principal {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
}

.banner-principal>.titulo-banner{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.seccion-principal {
    display: flex;
}

.aside {
    background-color: cyan;
    width: 30%;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50vh;
    justify-content: space-around;
}

.barra-busqueda {
    position: absolute;
}

.form-busqueda {
    border: none;
    border-bottom: 1px solid #616060;
    padding: 10px;

    outline: none;
}

.form-busqueda:focus {
    border: none;
    border-bottom: 2px solid darkslategray;
}


.fa-search {
    position: relative;
    right: 25px;
    top: 2px;
}

.contenedor {
    background-color: tomato;
    width: 70%;
}

.barra {
    height: 50px;
    background-color: teal;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.barra>div {
    background-color: blueviolet;
    height: 50px;
    width: 70px;
}

.contenedor-tarjetas {
    flex: 3;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

.producto {
    background-color: #fff;
    padding: 25px;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
}
  
.producto-img-contenedor {
    height: 250px;
}
  
.producto-img {
    height: 100%;
    margin: 0 auto;
}
  
.hidden {
    display: none;
}

.footer {
    background-color: lightcoral;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenedor-texto-footer {
    background-color: lime;
    height: 30px;
    width: 400px;
    text-align: center;
}