
* {
    margin: 0;
  }
  
  body {
    width: 100vw;
    height: 200vh;
    background-color: orange;
  }
  
  main {
    margin-top: 200px;
  }
  
  .overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
  }
  
  nav {
    height: 200px;
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  
  .menu {
    width: 200px;
    height: 100vh;
    background-color: darkblue;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0
  }
  
  .ocultar {
    display: none;
  }
  
  #gatito {
    position: relative;
    z-index: 1;
  }
  
  #gatito2 {
    position: relative;
    right: 100px;
    z-index: 2;
  }