body {
    display: flex;
    background: #cacaca;
}

.contenedor {
    background-color: tomato;
    width: 100%;
}

.barra {
    height: 50px;
    background-color: teal;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.barra>div {
    background-color: blueviolet;
    height: 50px;
    width: 70px;
}
  
.contenedor-tarjetas {
    flex: 3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.producto {
    background-color: #fff;
    padding: 30px 25px;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
}
  
.producto-img-contenedor {
    height: 250px;
}
  
.producto-img {
    height: 100%;
    margin: 0 auto;
}
  
.hidden {
    display: none;
}
  